@import url("sections/header.css");
@import url("sections/main.css");
@import url("sections/footer.css");
@import url("sections/cart.css");
@import url("fonts/stylesheet.css");
@import url("sections/unavaliable.css");
@import url("sections/minor.css");
@import url("sections/cards__modal.css");
@import url("sections/addresses__modal.css");
@import url("sections/delivery.css");



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 100vw;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #6725A8;
}
